.builder {
  .controls {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .button-holder {
      background-color: pink;
      width: auto;

      display: flex;
      flex-direction: column;

      div {
        background-color: purple;
        // width: 300px;
        margin: auto;
      }

      .button {
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;

        padding: 20px;

        &:hover {
          background-color: limegreen;
        }
      }
    }
  }
  .holder {
    display: flex;
    // align-items: center;
    justify-content: center;
    position: relative;
    // flex-direction: column;

    .guide {
      background-color: white;
      position: relative;

      .canvas-holder {
        top: 100px;
        left: 100px;

        position: absolute;
        background-color: blue;

        canvas {
          position: absolute;
        }
      }

      .dots-holder {
        top: 100px;
        left: 100px;
        position: absolute;

        $border-size: 6px;
        $offset-border-size: calc(#{$border-size} / -1);
        $dot-size: 20px;
        $offset-dot-size: calc(#{$dot-size} / -2);

        $offset: calc(#{$offset-dot-size} + #{$offset-border-size});

        .grid-dot {
          // background-color: orangered;
          position: absolute;
          width: $dot-size;
          height: $dot-size;
          border-radius: $dot-size;
          border: $border-size solid orangered;
          transform: translate($offset, $offset);
          cursor: pointer;

          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            border-color: limegreen;
          }
        }
      }
    }
  }
}
