.builder {
  background-color: red;

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .button-holder {
      background-color: pink;
      width: auto;

      display: flex;
      flex-direction: column;

      div {
        background-color: purple;
        // width: 300px;
        margin: auto;
      }

      .button {
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;

        padding: 20px;

        &:hover {
          background-color: limegreen;
        }
      }
    }
  }

  .guide {
    background-color: white;
    display: flex;
    // align-items: center;
    justify-content: center;
    position: relative;
    // flex-direction: column;

    img {
      position: absolute;
    }

    .canvas-holder {
      top: 100px;
      opacity: 0.5;
      position: absolute;
      background-color: blue;

      .canvas {
        background-color: green;
      }
    }

    .dots-holder {
      top: 100px;
      position: absolute;

      $dot-size: 20px;
      $dot-size-half: calc(#{$dot-size} / -2);
      .grid-dot {
        background-color: orangered;
        position: absolute;
        width: $dot-size;
        height: $dot-size;
        border-radius: $dot-size;
        // border: 2px solid black;
        transform: translate($dot-size-half, $dot-size-half);
        cursor: pointer;

        &:hover {
          background-color: limegreen;
        }
      }
    }
  }
}
