@import "../../assets/styles/variables";

.disabled {
  pointer-events: none;
  cursor: unset;
  filter: saturate(0);
}

.upload-group {
  margin-right: 150px;

  .upload-panel {
    width: 504px;
    height: 445px;

    display: flex;
    justify-content: space-between;

    .upload-result {
      .img-holder {
        width: 320px;
        height: 320px;
        border: $border;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      p {
        color: red;
        font-size: 0.75em;
      }
    }

    .upload-source {
      .upload {
        height: 320px;
        justify-content: space-between;

        .file-dropbox {
          background: rgba(0, 0, 0, 0.04);
          border-radius: 6px;
          width: 156px;
          height: 256px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          p {
            font-size: 0.5em;
            text-align: center;
          }

          img {
            opacity: 0.5;
          }

          &:hover {
            img {
              opacity: 1;
            }

            border: 10px dashed $blue;
          }
        }
      }

      p {
        font-size: 16px;
        color: $black;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
