.container {
  display: flex;
  justify-content: center;
  .preview {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;

    $size: 500px;
    $thumb: calc(#{$size} / 7);
    .samples {
      width: $size;
      max-height: 100px;
      background-color: black;
      display: flex;
      justify-content: space-between;
      img {
        width: $thumb;
        opacity: 0.5;
        object-fit: contain;

        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .selected {
        opacity: 1;

        &:hover {
          opacity: 1;
        }
      }
    }
    canvas {
      width: $size;
      height: $size;
    }
  }
}
