body {
  background-color: #6c6c6c;
  color: white;
}

.canvas-container {
  position: relative;
  background-color: #aa0000;
  width: fit-content;
}
canvas {
  margin: 50px;
  padding: 20px;
  background-color: blue;
}

img {
  opacity: 0.5;
  background-color: black;
}
