// Sat 7pm-1030pm
$border-gray: rgba(217, 223, 233, 0.4);
$border: 1px solid $border-gray;
$blue: #1f7cf2;
$light-blue: #1f7af27c;
$black: #000000;
$faded-black: rgba(0, 0, 0, 0.04);
$gray-dark: #3d3d3d;
$white: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$font-family: "Poppins";
// $font-family: "Roboto";
// $font-family: "Helvetica";
