// Sat 7pm-1030pm
// Sun: 2pm - 5pm
$border-gray: rgba(217, 223, 233, 0.4);
$border: 1px solid $border-gray;
$blue: #1f7cf2;
$black: #000000;
$gray-dark: #3d3d3d;
$white: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.downloader {
  padding: 20px;
  margin: 20px;
  color: $black;
  font-family: "Roboto", sans-serif;
  text-align: left;

  background-color: $white;
  border: 5px solid $white;
  outline: 1px solid $gray-dark;
  box-sizing: unset;
  -moz-box-sizing: unset;
  -webkit-box-sizing: unset;
  //
  letter-spacing: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;

  .image-preview {
    width: 588px;
    height: 588px;
    background-color: blue;
    overflow: hidden;
    position: relative;
    margin-right: 64px;

    canvas {
      border-radius: 12px;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .blur {
      filter: blur(10px);
    }

    .status {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      // text-shadow: 0px 0px 10px #000000, 0px 0px 10px #000000, 0px 0px 10px #000000;
    }
  }

  .download-panel {
    white-space: nowrap;
    .title-container {
      margin-bottom: 40px;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.4);
      letter-spacing: 1.33px;
      height: 24px;
      margin: 0;
      padding: 0;
    }

    .art-title {
      font-family: "Roboto", sans-serif;
      font-size: 40px;
      color: #000000;
      letter-spacing: 0;
      height: 30px;
      display: flex;
      align-items: top;
    }
  }
}
